ZENDESK_SUBDOMAIN=subdomain_without_.zendesk.com
ZENDESK_OAUTH_ACCESS_TOKEN=replace_me

GOOGLE_SERVICE_ACCOUNT_FILE=/app/service_account.json
SPREADSHEET_ID=google_sheets_spreadsheet_id

BACKFILL_START_TIME=2000-01-01T00:00:00Z
REQUEST_SLEEP_SECONDS=7
BATCH_WRITE_SIZE=500
STATE_FILE=/app/data/state.json
